<mat-nav-list class="sidenav-container">
  <a mat-list-item [routerLink]="'/home'" class="sidenav-link-content"  routerLinkActive="sidenav-item-selected">
    {{'home.title' | translate}}
  </a>
  <a mat-list-item [routerLink]="'/account_validation'" class="sidenav-link-content" routerLinkActive="sidenav-item-selected">
    {{'account-validation.title' | translate}}
  </a>
  <a mat-list-item [routerLink]="'/request_to_pay'" class="sidenav-link-content" routerLinkActive="sidenav-item-selected">
    {{'request-to-pay.title' | translate}}
  </a>
  <a mat-list-item [routerLink]="'/payment_initiation'" class="sidenav-link-content" routerLinkActive="sidenav-item-selected">
    {{'payment-initiation.title' | translate}}
  </a>
</mat-nav-list>
