<form #dprnForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="card bg-light" style="margin-top: 1.5rem; margin-bottom: 1.5rem">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>Search</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          DPRN:
        </div>
        <div class="col">
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.dprn" name="name"
                 #name="ngModel">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-success" [disabled]="!dprnForm.form.valid">Submit</button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 1.5rem"></div>
      <div class="row">
        <div class="col">
          <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="err$">
            <h4 class="alert-heading">Failed Http call:</h4>
            {{err$.status}} - {{err$.statusText}}
            <hr />
            <div *ngIf="err$.error">
              {{err$.error.code}} - {{err$.error.message}}
            </div>

          </ngb-alert>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="result$">
  <div class="row">
    <div class="col">
      <h3>Results</h3>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
    <tr>
      <td>Institution:</td>
      <td>{{result$.englishInstitutionName}}</td>
    </tr>
    <tr>
      <td>Branch:</td>
      <td>{{result$.identificationNumber}} - {{result$.branchDomicile}}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>{{result$.status}}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        {{result$.civicAddress}}
        <br *ngIf="result$.townCity" /> {{result$.townCity}}
        <br *ngIf="result$.province" /> {{result$.province}}
        <br *ngIf="result$.postalCode" />  {{result$.postalCode}}
      </td>
    </tr>

    <tr>
      <td>Exchange Point:</td>
      <td>{{result$.exchangePoint}}</td>
    </tr>
    </tbody>
  </table>
</div>
