
<main class="form-container">
  <form [formGroup]="form" (submit)="validateAccount()">
    <div>
      <p>{{'account-validation.description' | translate}}</p>
      <p>{{'account-validation.description.extended' | translate}}</p>
      <p>
        {{'account-validation.description.api.details' | translate}}
      </p>
      <ul>
        <li><a href="https://nonprod-developer.payments.ca/payments-rail-api/apis/post/account_validation">{{'common.links.dev-portal' | translate}}</a></li>
        <li><a href="https://nonprod-developer.payments.ca/account-validation-data-model">{{'common.links.data-model' | translate}}</a></li>
        <li><a href="https://github.com/paymentscanada/api-samples/tree/feature/h-add-payments-rails/postman-collection/Payments-Rail">{{'common.links.postman' | translate}}</a></li>
      </ul>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayout.xs="column" fxFill class="large_top_pad">
      <div fxFlex="50">
        <h2 class="section-header">{{'common.step.1' | translate}} {{'payment-initiation.creditor.header' | translate}}</h2>
        <mat-divider></mat-divider>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>{{'account-validation.financial-institution-id.label' | translate}}</mat-label>
          <input formControlName="fiId" required matInput>
          <mat-error *ngIf="form.controls.fiId?.invalid">
            <span *ngIf="form.controls.fiId?.errors?.required">{{'error.required' | translate}}</span>
            <span *ngIf="form.controls.fiId?.errors?.maxlength">{{'error.max-length' | translate: {max: '35'} }}</span>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>{{'account-validation.account-number.label' | translate}}</mat-label>
          <input formControlName="accountNumber" required matInput>
          <mat-error *ngIf="form.controls.accountNumber?.invalid">
            <span *ngIf="form.controls.accountNumber?.errors?.required">{{'error.required' | translate}}</span>
            <span *ngIf="form.controls.accountNumber?.errors?.maxlength">{{'error.max-length' | translate: {max: '34'} }}</span>
          </mat-error>
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary" type="submit" [disabled]="loading || form.invalid">{{'account-validation.validate.button' | translate}}</button>

        <div *ngIf="message != ''">
          <app-message [title]="'account-validation.account-found.title' | translate" [body]="message" [success]="true"></app-message>
        </div>

        <div *ngIf="error.message != ''">
          <app-message [title]="error.title" [body]="error.message" [success]="false"></app-message>
        </div>
      </div>
      <div fxFlex="50">
        <mat-tab-group>
          <mat-tab label="JSON Request">
            <app-json-content [data]="constructRequest(form.value.fiId, form.value.accountNumber)"></app-json-content>
          </mat-tab>
          <mat-tab label="JSON Response" [disabled]="!response">
            <app-json-content [data]="response"></app-json-content>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </form>
</main>
