

<main>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        Payment Rails Sandbox Sample Application
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="home_content">
        <p>
          This is a sample angular application that connects to the Payments Canada API and retrieves the data
          from the fictionalized APIs. This sample and the APIs are built for the purpose of allowing consumers to envision what a futuristic payments rail may look like and function.
          This sample includes the following sample APIs:
        </p>
        <ul>
          <li>
            <a [routerLink]="['/account_validation']">{{'account-validation.title' | translate}}</a>: {{'account-validation.description' | translate}}
          </li>
          <li>
            <a [routerLink]="['/request_to_pay']">{{'request-to-pay.title' | translate}}</a>: {{'request-to-pay.description' | translate}}
          </li>
          <li>
            <a [routerLink]="['/payment_initiation']">{{'payment-initiation.title' | translate}}</a>: {{'payment-initiation.description' | translate}}
          </li>
        </ul>
      </div>

    </mat-card-content>
  </mat-card>
</main>
