<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#" [text]="title">angular-api-sample</a>
</nav>

<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem >
      <a ngbNavLink>FIF - DPRN Lookup</a>
      <ng-template ngbNavContent>
        <app-fif-dprn-search></app-fif-dprn-search>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>FIF - Master</a>
      <ng-template ngbNavContent>
        <app-fif-master></app-fif-master>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>FIF - Updated</a>
      <ng-template ngbNavContent>
        <app-fif-updated></app-fif-updated>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>CCIN - CCIN Lookup</a>
      <ng-template ngbNavContent>
        <app-ccin-search></app-ccin-search>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>CCIN - Master</a>
      <ng-template ngbNavContent>
        <app-ccin-master></app-ccin-master>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>CCIN - Updated</a>
      <ng-template ngbNavContent>
        <app-ccin-updated></app-ccin-updated>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>
