<form #dprnForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="card bg-light" style="margin-top: 1.5rem; margin-bottom: 1.5rem">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>Search</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          Date:
        </div>
        <div class="col">
          <ngb-datepicker #d [(ngModel)]="date" [ngModelOptions]="{standalone: true}"></ngb-datepicker>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-success" [disabled]="!dprnForm.form.valid">Submit</button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 1.5rem"></div>
      <app-error [error]="err"></app-error>
    </div>
  </div>
</form>

<div *ngIf="loading">Loading...</div>

<div *ngIf="result$ | async as results">
  <div class="row">
    <div class="col">
      <h3>First 10 Results</h3>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>CCIN</th>
      <th>Shortname</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ccin of results">
      <td>{{ccin.ccin}}</td>
      <td>{{ccin.shortname}}</td>
    </tr>
    </tbody>
  </table>
</div>
