

<main>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Payment Rails Sandbox Sample Application</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Provide context.
      </p>

      <p>
        Filler Text
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in aliquam nisl, quis interdum est. Morbi metus purus, dictum non facilisis nec, convallis in odio. Aliquam ac sapien ullamcorper, bibendum tellus vel, consectetur justo. Vivamus bibendum blandit libero. Suspendisse efficitur tempus orci a tempor. Aenean varius varius tellus in posuere. Nullam auctor vestibulum dui et hendrerit. Maecenas purus nisl, congue a volutpat et, dapibus aliquet nunc. Integer eu porttitor nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla iaculis interdum tellus eget tristique. Mauris ac sollicitudin lacus, ut luctus lorem. Sed odio velit, iaculis vitae maximus nec, aliquam eu nulla.
      </p>
      <p>
        Sed in mi sit amet tortor vehicula fermentum. Proin non cursus risus. Donec in est sed orci lobortis luctus vel at urna. Suspendisse vitae justo ipsum. Duis at suscipit massa, quis ultrices mauris. Vivamus quis nulla nisi. Donec dapibus quis purus sed euismod. Suspendisse potenti. Praesent luctus, sapien gravida venenatis eleifend, velit mauris efficitur mauris, pretium ultricies erat nunc ut leo. Proin auctor volutpat rutrum. Nam facilisis, justo at gravida pellentesque, urna nibh lacinia lectus, in dapibus nunc eros sit amet sapien. <br />
      </p>
      <p>
        Fusce sagittis enim porta tellus pulvinar tristique. Integer sit amet lacus venenatis, ullamcorper velit eget, fermentum elit. Fusce pulvinar odio id massa vulputate, ac viverra nisi imperdiet. Nullam mi tellus, egestas at nisl id, iaculis lobortis mauris. Nulla fermentum sed sem at tempor. Phasellus dignissim, erat ac fermentum porttitor, ligula quam interdum dui, sed interdum elit urna in neque. Integer gravida dictum metus a varius. Nam et bibendum odio. Praesent ultricies blandit porta. Sed at nulla nec lectus luctus sollicitudin. Maecenas in diam quis leo placerat pretium. Maecenas lacus urna, pretium non molestie id, ornare et elit. Duis sed viverra ligula. Vivamus posuere ligula at turpis elementum, in blandit erat pellentesque. Phasellus gravida dolor ac nisi viverra placerat. Praesent tincidunt faucibus eros, ut mattis metus tincidunt eu. <br />
      </p>
    </mat-card-content>
  </mat-card>
</main>
